- provide(:title, 'About')
.center.hero-unit
  %h1 Meet your Meat
  %h2 Outside of the CSA Box
  %p
    Some text/ghetto video about what we do here.
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/oHg5SJYRHA0", :width => "420"}
  %h2 Our Philosophy
