<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>Meet your Meat</h1>

  <h2>Outside of the CSA Box</h2>
  <p>
  	Some text/ghetto video about what we do here. 

  	<iframe width="420" height="315" src="http://www.youtube.com/embed/oHg5SJYRHA0" frameborder="0" allowfullscreen></iframe>
  </p>

  <h2>Our Philosophy</h2>

</div>