<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact Us</h1>

  <h2>
    Something about wanting to be contacted.
  </h2>

  <p>
  	Mailto link? Maybe this should be sign-in authenticated. 
  </p>

</div>