<% provide(:title, 'How MeatUp Works') %>
<h1>How MeatUp Works</h1>
<p class="normal_links">MeatUp exists to foster a community of <strong>Consumers</strong>, <strong>Ranchers</strong>, and <strong>Butchers</strong>, and to streamline the process of bringing sustainably raised, healthy, local meat from the farm directly to your table. 
<br><br>
The process is simple: A volunteer "<strong>hosts</strong>" an animal, choosing the ranch and butcher. Then consumers order the precise cuts they want from a specific animal, which they pick up after butchery from the <strong>host</strong>.</p><br>

<h2>Consumers</h2>
<p class="normal_links">For <strong>consumers</strong>, MeatUp is a simple online retail experience. You just <%= link_to "pick the meat type", purchase_path %> you're interested in, choose between available animals being hosted, and then select the exact cuts you want and pay for them on site, using the simple and secure Stripe API. 
<br><br>
Because exactly how much meat is in one 1.5' thick ribeye is inherently unpredictable, MeatUp uses a straightforward two-charge approach: You just put down a 50% "downpayment" for your meat, and when we get the exact weights back from the butcher, we charge you the remainder.
<br><br>
Once you've paid for your cuts, you just wait until the meat passes through the butcher (<%= link_to "usually about a week or two", '#' %>), at which point any variance from expected weights will be charged or refunded. When the meat is ready, you head over to your local <strong>host</strong> and pick it up.</p><br>

<h2>Hosts</h2>
<p class="normal_links">Hosting through MeatUp is easy and smart. If you're interested in buying meat at an additional hosting discount, you can choose to <strong>host</strong> an animal and then choose from our straightforward and price-ordered list of available ranches and <strong>ranchers</strong> in your area. When your animal is ready, you just arrange with the butcher to get it, and bring it back to your place for the <%= link_to "pickup date", '#' %>, when everyone who bought part of the animal you hosted drops by to pick their meat up. 
<br><br>
Hosting is both a great way to get to know your local <strong>ranchers</strong>, <strong>ranchers</strong>, and fellow meat lovers, and a way to save even more money: Hosts save 10% off up to 20% of the weight of the animal they host! Just sign in as a regular user and then tick the "<strong>host</strong>" box and access the host dashboard from your user page.</p><br>

<h2>Ranchers</h2>
<p class="normal_links">For <strong>ranchers</strong>, MeatUp provides a unique tool for getting directly in touch with customers who care about where their meat comes from. As a rancher, just sign up, check yourself off as a "rancher" on the signup page, and enter your ranch's info -- including the animals you raise and how you charge for them. Then, when <strong>hosts</strong> are looking for meat, they can find your ranch and order from you directly without worrying about buying the whole or half animal themselves. 
<br><br>
In other words, MeatUp greatly lowers the threshold of demand for getting consumers involved in direct meat purchasing, which means more sales to more customers who are excited about buying high-quality, cared-for meat.</p><br>

<h2>Butchers</h2>
<p class="normal_links"><strong>Butchers</strong> are a key piece in the MeatUp model. The increase in direct-from-farmer meat purchases through MeatUp means more business for butchers. Just sign up and fill in your butchery details (including costs and preferences), and <strong>hosts</strong> will have access to your information, so they can choose your butchery for their animal with the click of a button.
<br><br>
When a host chooses your butcher shop, you'll be notified, and then when the meat is ordered, you'll be sent an order specification sheet with all the butchery instructions neatly laid out. Just cut up the meat, label it, and let the host know when to pick it up.</p><br>

<h1>Frequently Asked Questions</h1>
<ol>
	<li>Why is MeatUp so awesome?</li>
	<li>Why does it take so long?</li>
	<li>When are you guys going to have kangaroo?</li>
	<li>What's up with this "variance" thing?</li>
	<li>I can't make the pickup. What do I do?</li>
	<li>How's it so cheap?</li>
	<li>What is Cross Rib? How do I cook it?</li>
	<li>Where are the sausages?</li>
	<li>What's up with all the sales?</li>
	<li>Why is skirt steak not as cheap?</li>
</ol>

