<% provide(:title, 'MeatUp is Resting') %>
<div class="center hero-unit">
  <h1>Contact Us</h1>

  <h2>
    MeatUp is shut down at the moment. Sorry.
  </h2>

  <p>
    For a sense of its former and possible future glory, feel free to take a look at
    <%= link_to "our FAQ page", how_path %>
    .
  </p>

</div>