- provide(:title, 'MeatUp is Resting')
.center.hero-unit
  %h1 Contact Us
  %h2
    MeatUp is shut down at the moment. Sorry.
  %p
    For a sense of its former and possible future glory, feel free to take a look at
    \#{link_to "our FAQ page", how_path}
    \.
