<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 	 <link rel="stylesheet" type="text/css" href="custom.css.scss">  
  </head>
  <body>
    <h1>Your order on <%= @order.animal.name %> was placed successfully!</h1>
    <h2>Your Order</h2>
    <table class="table">
    	<tr>
			<th>Cut</th>
			<th>Units</th>
			<th>Notes</th>
			<th>Package Weight</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
		<% @total = 0 %>
		<% @order.lines.each do |l| %>
		<% if l.units != 0 %>
			<% @c = l.cut %>
			<% @a = @order.animal %>
			<% cut_packages = @a.packages.where(:cut_id => @c.id) %>
			<% sold = cut_packages.where(:sold => true).length %>
	  		<% unsold = cut_packages.where(:sold => false).length %>
	  		<% example = cut_packages.first %>
			<tr>	
		
			    	<td><%= @c.name %></td>
			    	<td><%= l.units %></td>
			    	<td><%= l.notes %></td>
			    	<td><%= @c.package_weight %> lb</td>
			    	<td><%= number_to_currency(example.price) %></td>
			    		<% @line_total = example.price * @c.package_weight * l.units %>
			    	<td><%= number_to_currency(@line_total) %></td>
		    </tr>
		    <% @total += @line_total %>
		<% end %>
	<%end%>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><%= number_to_currency(@total) %></td>
		</tr>
	</table>

	<br>

    <p>
      If you have any questions or requests, get in touch. .
    </p>
    <p>Thanks for your patronage, and have a great day!</p>
    <p>-- Sasha</p>
  </body>
</html>