<% provide(:title, 'Welcome!') %>

<div class="front_overview">
    <div class="movie_demo">
        <%= link_to image_tag("movie_demo2.png"), '#' %>
    </div>
	<h2 style="font-size:200%;">
		<strong>Meat</strong>Up is bringing outside-the-box thinking to local meat CSAs.
	</h2>
	<h2>
		We connect sustainable ranchers, artisanal butchers, and savvy consumers in a transparent, low-cost, social marketplace to help drive local living economies and steward our environment.
	</h2>
	<h2>
		We believe that a more direct relationship between buyers and producers can make good food accessible, local farming viable, and safeguard our planet for future generations.
	</h2>
	<h2>
		Watch our video to learn more, or <%= link_to "sign up", signup_path %> and pilot today.
   	</h2>
</div>