<% provide(:title, 'Welcome!') %>

	<div class="center hero-unit">	
		
		<h1 style="text-align:center">Welcome to MeatUp!</h1>
		<h2 style="text-align:center">Choose your animal below:</h2>
	</div>
	
	<br>
	
	<div style="text-align:center">
		<div class="btn-group">
			<ul>
			    <li class="btn btn-large btn-primary disabled" style="margin:10px"><%= link_to "MOO", orders_path %></li>
			    <li class="btn btn-large btn-primary disabled" style="margin:10px"><%= link_to "OINK", orders_path %></li>
			    <li class="btn btn-large btn-primary disabled" style="margin:10px"><%= link_to "BAH", orders_path %></li>
			<ul>
	    </div>
	</div>