<% provide(:title, "Sign in") %>
<table class="signinup_table">
	<tr>
		<td class="signinup_left">Sign In</td>
		<td class="signinup_right">

<% @string = "Sign In" %>
<%= render :partial => 'form', :object => @string %>

<div class="signinup_links" style="margin-top:120px;">
	New user? <%= link_to "Sign up now!", signup_path %>
</div>
		</td>
	</tr>
</table>