<% provide(:title, "Sign in") %>
<div id="title_signinup" style="height:280px;">Sign In</div>

<% @string = "Sign In" %>
<%= render :partial => 'form', :object => @string %>
<div class="user_signinup_a" style="margin-top:50px;">
	New user? <%= link_to "Sign up now!", signup_path %>
</div>
