<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width:720px;">
      <%= link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url %>
      
      <div style="padding: 0 35px 0 35px;">
        <h1>Don't worry.</h1>
        <p>
          MeatUp is in private beta mode at the moment, but we're hoping to roll out to the public as soon as possible. We've saved your info, so when we do open up the site, we'll let you know.<br/>
        </p>
        <p>
          If you're determined to buy some meat with us as soon as possible, just <%= link_to "send in an email", 'mailto:info@meatup.in' %>, and we'll get back to you as soon as possible.<br>
        </p>
        <p>
          Thanks for the interest, and hope to have you on the site sometime soon!<br>
        <p>- The MeatUp Team</p>
      </div>
      
      <%= image_tag attachments['grassy_knoll_white_sm.png'].url %>
    </div>
  </body>
</html>