!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "width:720px;"}
      = link_to (image_tag(attachments['meatup_logo_white.png'].url)), @url
      .normal_links{:style => "padding: 0 35px 0 35px;"}
        %h1
          Your #{@o.animal.meat_type}'s been butchered!
        %h4
          Now that we know exactly how much each of your packages
          %em actually
          ways, we can charge or refund you the difference. After that, you just pick up your meat, and you're good to go.
        %br/
        %br/
        %h4
          Just visit your #{link_to "order page", @receipt_url}. A charge or refund equivalent to the difference between what you ordered and what you got should be totalled up for you. Just follow through the same simple payment interface, and your order will be finalized and ready for pickup.
          %br/
          %br/
          Best,
          %br/
          The MeatUp Team
      = image_tag attachments['grassy_knoll_white_sm.png'].url
