<% if @user.orders %>
	<table class="table">
		<tr>
			<th>Animal Name</th>
			<th>Animal Type</th>
			<th>Order ID</th>
			<th>Date</th>
		</tr>
		
		<% @user.orders.last(5).each do |o| %>	
			<tr>
				<td><%= o.animal.name %></td>
				<td><%= o.animal.animal_type %></td>
				<td><%= o.id %></td>
				<td></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h3>No orders? <%= link_to 'Get Started!', root_path %></h3>
<% end %>
