<% provide(:title, 'Sign Up') %>
<table class="signinup_table">
	<tr>
		<td class="signinup_left">Sign Up</td>
		<td class="signinup_right">


<% @string = "Sign Up" %>
<%= render :partial => 'form', :object => @string %>
	</tr>
</table>