- if @user.errors.any?
  #error_exp
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      The form contains #{pluralize(@user.errors.count, "error")}.
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          * #{msg}
