
	<!-- <h2 style="text-align:center">We've Got:</h2> -->
	<div class="animal-buttons">
		<% if @cows.any? %>
			<%= link_to image_tag("beef_button.png"), '/orders/list/cow' %>
		<% end %>

		<% if @pigs.any? %>
			<%= link_to image_tag("pork_button.png"), '/orders/list/pig' %>
		<% end %>

		<% if @lambs.any? %>
			<%= link_to image_tag("lamb_button.png"), '/orders/list/lamb' %>
		<% end %>

		<% if @goats.any? %>
			<%= link_to image_tag("goat_button.png"), '/orders/list/goat' %>
		<% end %>
	</div>


