.persist-area
  %table#sumtable.table.table-condensed.order-table.sumtable
    %thead
      %tr.persist-header
        %th.cut Cut
        %th.prep Prep Requests
        %th.ps Packages
        %th.p_weight Package Weight
        %th.price_lb Price/lb
        %th.lbs Lbs
        %th.price Price
        %th.save{:style => "text-align:center;"} Savings
    %tbody

      - @animal.available_for_sale.each do |item|
        = order_form.fields_for :lines do |form|
          = render 'item_on_sale',  { form: form, item: item }
    
      - @animal.sold_out_for_sale.each do |item|
        = render 'sold_out_item', cut: item # for display only
      
      = render 'order_table_footer'