.persist-area
  %table#sumtable.table.table-condensed.order-table.sumtable
    %thead
      %tr.persist-header
        %th.cut Cut
        %th.prep Prep Requests
        %th.ps Packages
        %th.p_weight Package Weight
        %th.price_lb Price/lb
        %th.lbs Lbs
        %th.price Price
        %th.save{:style => "text-align:center;"} Savings
    %tbody
      = render('item_on_sale',  { order_form: form })
      = render('sold_out_item', { order_form: form })
      = render 'order_table_footer'