%tr.total.order_table_footer
  %th.order_table_footer{:colspan => "5"}
  %th.js-lb-total.order_table_footer Total Lbs
  %th.js-price-total.order_table_footer{:style => "font-weight:bold;"} Total $
  %th.js-savings-total.order_table_footer{:style => "color: #339933; text-align:center;"} [Saved]