%tr
  %td.spacer{:colspan => "5"}
    .receipt_pay
      = form_tag charges_path do
        %script.stripe-button{ @order.stripe_data, }
        = hidden_field_tag :order_id, @order.id
        = hidden_field_tag :amount, @order.stripe_total 