<% provide(:title, 'Goat') %>

		<h1 style="text-align:center">Dig In!</h1><br>
		<br>
			<% @meat = "Goat" %>
			<%= render :partial => "form", :object => @meat %>

		<br>
		<div style="text-align:center">
			
		</div>
		<br>

<%= link_to 'Back', orders_path %>
