%table
  %tr
    %td
      .morris_chart#weight_chart{ data: { sold: @animal.pounds_sold.round(2), left: @animal.pounds_left.round(2) } }
    %td
      .morris_chart#sales_chart{ data: {sold: @animal.revenue_made.round(2), left: (@animal.revenue_possible - @animal.revenue_made).round(2) } }
    %td
      .morris_chart#status_chart{ data: { zero: @animal.orders.incomplete.size, one: @animal.orders.downpaid.size, two: @animal.orders.paid.size, three: @animal.orders.complete.size } }
