%table
  %tr
    %td
      = content_tag :div, "", id: "weight_chart",   |
        data: {sold: @animal.pounds_sold.round(2),  |
               left: @animal.pounds_left.round(2)}, |
        class: "morris_chart"                       |
    %td
      = content_tag :div, "", id: "sales_chart",                                  |
        data: {sold: @animal.revenue_made.round(2),                               |
               left: (@animal.revenue_possible - @animal.revenue_made).round(2)}, |
        class: "morris_chart"                                                     |
    %td
      = content_tag :div, "", id: "status_chart",     |
        data: { zero: @animal.incomplete_orders.size, |
               one: @animal.downpaid_orders.size,     |
               two: @animal.paid_orders.size,         |
               three: @animal.complete_orders.size }, |
        class: "morris_chart"                         |
