- provide(:title, 'Animal Dashboard')

#page_title_float Admin Animal Dashboard

= link_to 'Add New Animal', new_animal_path, :class => "btn image-button", :style => "float:right;"

= render :partial => "animal_list"
