%h2 Ordered by Cut and Notes
- @animal.bundle_for.labels_by_cut.each do |bundle|
  = render 'cut_labels', bundle: bundle

%h2 Ordered by Purchaser
- @animal.bundle_for.labels_by_user.each do |bundle|
  = render 'user_labels', bundle: bundle
