- @ranches.each do |ranch|
  - if ranch.has?(type)
    %tr
      %td= ranch.name
      %td= safe_round( ranch.info_for(type).live_price, 2 )
      %td= safe_round( ranch.info_for(type).hanging_price, 2 )
      %td= safe_round( ranch.info_for(type).meat_price, 2 )