- @ranches.each do |ranch|
  - if ranch.has?(type)
    %tr
      %td= ranch.name
      %td= safe_round( ranch.price_for(type, :live), 2 )
      %td= safe_round( ranch.price_for(type, :hanging), 2 )
      %td= safe_round( ranch.price_for(type, :meat), 2 )