@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$skyBlue: #3D5C99;
$lightNavy: #0029A3;
$navy: #001452;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.float-over {
  color: $grayMediumLight;
  opacity: 0.6;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.brand {
  margin-bottom: 20px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 0px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
    margin-top: 10px;
    margin-left: 4px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* Background */
.grass {
  background-image:url('grass.jpg'); 
  background-color:#6C8BB2; 
}

.butcher {
  background-image:url('butcher.jpg');
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  margin-bottom: 120px;
  margin-top: 40px;
  h1 {
    color:black;
  }
  h2 {
    color: black;
  }
}

/* Row Hover OverRide */
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}

/* Change Footer and Header Color */

.navbar-inner {
  background-color: #304866;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  opacity: .95;
}

/* Animal Button Links */
.animal-buttons {
  text-align:center;
  img {
        text-decoration: none;
        margin-left:25px;
        margin-right:25px;
  }
  a:hover {
    background: none;
    text-decoration: none;
  }    
}

/* Sold-Out Styling */
.red {
    margin-left: 10px;
    margin-top: 10px;
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    td {
      float: center;
    }
}

