@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$skyBlue: #3D5C99;
$lightNavy: #0029A3;
$navy: #001452;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 17px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.float-over {
  color: $grayMediumLight;
  opacity: 0.6;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  } 
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  a:link, a:visited {
    color:#D25831;
    text-decoration:none;
  }
  a:hover, a:active {
    background-color:#ffffff;
    color:#c24821;
    text-decoration:underline;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.brand {
  margin-bottom: 20px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 0px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
    margin-top: 10px;
    margin-left: 4px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Background */
.transp01 {
border: 1px solid #75726C;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-image:url('white.png');
  background-color:#ffffff;
  margin-bottom: 120px;
  margin-top: 15px;
}

.margin-it {
  margin: 40px;
}

.butcher {
  background-image:url('butcher2.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  h1 {
    color:black;
  }
  h2 {
    color: black;
  }
}

// /* Row Hover OverRide */
// .table tbody tr:hover td,
// .table tbody tr:hover th {
//     background-color: inherit;
// }

/* Change Footer and Header Color */

.topbar {
  background-color:#000000;
  width:100%;
  height:7px;
}
.topnav {
    background-image:url('trans.png');
    width: 950px;
    margin: 0px auto;
    filter: none;
     nav {
      a { color: #ffffff; 
          font-size: 80%;
          font-family: 'Trebuchet MS','Kreon','Adelle Basic Bold',Georgia,Times;
          &:hover {
            text-decoration: none;
            background: none;
          }
        }
      ul {
        background-image:url('trans.png');
        .dropdown-menu {
          background-image:url('trans.png');
        }

        li {
          .dr { 
              a {
                  color:#000000; 
                  background: none;
                  font-size: 80%;
                }
              width:100%;
            }
          background-image:url('trans.png');
          display: inline-block;
          color: #ffffff;
          font-size: 150%;
          font-family: helvetica;
        }
        
      }
    }
}

/* Animal Button Links */
.animal-buttons {
  text-align:center;
  img {
        text-decoration: none;
        margin-left:25px;
        margin-right:25px;
  }
  a:hover {
    background: none;
    text-decoration: none;
  }    
}

// Easier Centering
.center {
  text-align: center;
  float: center;
}

.big-pad {
  margin-left: 30;
  margin-right: 30;
}

/* Welcome stuff */

.front_overview {
  h2 { 
    font-family: Calibri, Verdana;
    text-align:left;
    font-size: 150%; 
    font-weight:none;
    margin-bottom:15px;
  }
}

.movie_demo {
  margin-left:35px;
  margin-bottom:35px;
  float:right;
}

.line_divider {
  height:1px;
  width:100%;
  background-color:#999999;
  margin-top:25px;
  margin-bottom:25px;
}

/* New Header */

.spaced {
  margin-top: 45px;
}

.top_spaced {
  a:link, a:visited, a:active { 
    font-family: calibri, verdana;
    color:#3a0000;
    font-size:90%;  
    font-weight:bold;
  }
  a:hover {
    text-decoration:underline;
  }
  vertical-align:middle;
  margin: 0px 45px;
}

/* Niko Footer */

.base_footerA {
  background-color:#b58467;
  opacity:5%;
  width:100%;
  height:1px;
}

.base_footerB {
  background-color:#191614;
  width:100%;
  height:35px;

}

.sky_footer {
  background-color:#262220;
  width:100%;
  font-size:120%;
  font-family:'Kreon',Calibri,Verdana;
  color:#ffffff;
  padding-top:20px;
  padding-bottom:150px;
  background-image:url('grassy_knoll.gif');
  background-position:center bottom;
  background-repeat:repeat-x;
}

.footer_links {
  color:#ffffff;
  a:link, a:visited {
    color:#c1c451;
  }
  a:hover {
    color:#fec864;
    background-color:#262220;
  }
  a:active{
    color:#769034;
  }
}

.footer_social {
  color:#ffffff;
  img {
    vertical-align:middle;
    margin-right:10px;
    margin-top:1px;
    margin-bottom:4px;
  }
  a:link, a:visited {
    color:#ffffff;
  }
  a:hover {
    color:#fec864;
    background-color:#262220;
  }
  a:active{
    color:#769034;
  }
}

.table_main {
 border:5px solid #191614;
 background-color:#ffffff;
 padding:15px;
}

/* Cool Image Buttons */

.btn.image-button, btn.image-button.a:link, btn.image-button.a:active, btn.image-button.a:visited {
  color:white;
  font-family:calibri, verdana, 'trebuchet ms';
  border: 1px solid #3C3932;
  background-color:#9a393a;
  background-image: -webkit-linear-gradient(top, #9a393a, #8a3333);
  background-image: -o-linear-gradient(top, #9a393a, #8a3333);
  background-image: linear-gradient(top, #9a393a, #8a3333);
  background-image: -moz-linear-gradient(top, #9a393a, #8a3333);
  text-shadow: none;
  margin: 0px;
  padding: 6px 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 16px;
  img { padding-right:10px;}
  text-decoration:none;
 }

.btn.image-button:hover, .btn.image-button.a:hover, .btn.image-button.input:hover {
 background-color:#8a3333;
 color:#fff4f7;
 text-decoration:none;
}

#header_logo {
  background:transparent url('meatup_logo.png') no-repeat -389px 0;
  width:323px;
  height:104px;
  display:block;
  &:hover {
    background:transparent url('meatup_logo.png') no-repeat -4px 0;
  }
}

/* User, Sign in/up & Profile Pages */

.signinup_left {
  text-align:center;
  vertical-align:top;
  background: #eee url('piglet_sign.png') no-repeat;
  background-position: center bottom;
  width:45%;
  color:#fff;
  font-family:calibri, verdana;
  font-size:500%;
  font-weight:bold;
  padding-top:50px;
  padding-bottom:250px;
  margin-bottom:35px;
}

.signinup_links {
  a:link, a:active, a:visited {
    color:#9a393a;
  }
  a:hover {
    background:transparent;
    text-decoration:underline;
  }
}

.signinup_table {
  width:100%;
}

.signinup_right {
  width:55%;
  vertical-align:top;
  padding: 0 0 0 35px;
  input {
    &:focus {
      background-color:#eee;
      -moz-box-shadow:     0 0 0px #fff;
      -webkit-box-shadow:  0 0 0px #fff;
      box-shadow:          0 0 0px #fff;
      border: solid #999 1px;
    }
    &:hover {
      cursor:default;
    }
  select {
    padding: 3px;
    &:focus {
      background-color:#eee;
      -moz-box-shadow:     0 0 0px #fff;
      -webkit-box-shadow:  0 0 0px #fff;
      box-shadow:          0 0 0px #fff;
      border: solid #999 1px;
    }
    &:hover {
      cursor:default;
    }
  }
  }
}

/* Order Pages */ 

.savings {
  background-color:#fc0;
}

.sav_content {
  color:#fff;
  text-shadow:0 0 0.3em #000;
  padding:0px;
  margin:0px;
}

#cut_name {
  padding:2px;
  &:hover {
   background-color:#fd0;
   cursor:none;
  }
}

.order-table {
  td {
    select {
    margin:0px 5px; 
    padding:2px; 
    background-color: #dddddd; 
    overflow:hidden;
    width:70px; 
    &:hover {
      color:#ffffff;
      background-color:#8a3333;
      background-image: -webkit-linear-gradient(top, #9a393a, #8a3333);
      background-image: -o-linear-gradient(top, #9a393a, #8a3333);
      background-image: linear-gradient(top, #9a393a, #8a3333);
      background-image: -moz-linear-gradient(top, #9a393a, #8a3333);
      }
    }
    vertical-align:middle;
  }
}

.order_table_footer { 
  th {
    border-top: solid #ccc 3px; 
    padding-top:10px;
    padding-bottom:10px; 
    background-color:#eee; 
    font-weight:normal;
  }  
}

.animal_table {
  width:100%;
  td, th {
    text-align:left;
    padding:15px;
    border-bottom: solid #ddd 1px; 
  }
}
.animal_table_header { 
  th {
    font-weight:bold;
  }  
}

.animal_table_header2 { 
  th {
    font-weight:normal;
  }  
}

.sold_out_item {
    margin:0px 5px; 
    padding:2px; 
    width:66px; 
    color:#ffffff;
    font-size:90%;
    text-align:center;
    background-color:#8a3333;
    background-image: -webkit-linear-gradient(top, #9a393a, #8a3333);
    background-image: -o-linear-gradient(top, #9a393a, #8a3333);
    background-image: linear-gradient(top, #9a393a, #8a3333);
    background-image: -moz-linear-gradient(top, #9a393a, #8a3333);
    &:hover {
      background-image:none;
      background-color:#B64343;
    }
}

.order_title {
  span:100%;
  text-align:center;
  margin:0px;
  padding:8px;
  color:#000;
  font-family:calibri, verdana, 'trebuchet ms';
  border: 1px solid #ddd;
  text-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 16px;
  background-color:#eee;
  &:hover {
   background-color:#ddd;
   cursor:none;
  }  
}

#page_title_float {
  float:left;
  margin-top:15px;
  margin-bottom:35px;
  font-family:calibri, verdana;
  font-size:150%;
  font-weight:bold;
}

.order_back {
  float:left;
  margin: 0px 0px 35px 0px;
  padding: 6px 12px;
  color:#000;
  font-family:calibri, verdana, 'trebuchet ms';
  border: 1px solid #ddd;
  text-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 16px;
  background-color:#eee;
  &:hover {
   background-color:#ddd;
  }  
}


// Floating Header

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}

.persist-header {
  th {
    border-bottom: solid #ccc 3px;
    padding:10px;
    border-spacing:0px;
    background-color:#eee;
  }
}

.receipt_and_pay {
  padding:0px;
  margin:0px;
  border:0px;
}

.receipt_display {
  position:relative;
  z-index:1;
  width:100%;
  color:#040400;
  -moz-box-shadow:    inset 0 0 10px #f8e8c7;
  -webkit-box-shadow: inset 0 0 10px #f8e8c7;
  box-shadow:         inset 0 0 10px #f8e8c7;
  background-color:#f4eee3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family:calibri;
  u {
    text-decoration:none;
    border-bottom: 1px dotted #968b6f;
  }
  th.header {
    padding:25px;
    font-size:120%;
    line-height:140%;
    color:#2c3230;
    border-bottom: 1px solid #e7b7a1;
  }
  td.divider2 {
    padding:1px;
    border-bottom: 1px solid #ded8be; /* 4a6075 */    
  }
  th.details {
    padding: 6px 0px 6px 25px;
    border-bottom: 1px solid #6f797a; /* 4a6075 */    
    font-size:100%;
    color:#2c3230;
    text-align:left;
  }
  td.divider {
    padding:1px;
    border-bottom: 1px solid #e7b7a1;    
  }
  td.spacer {
    padding:25px 25px 0px 0px;
    border:0px;
  }
  td {
    color:#2c3230;
    font-size:100%;
    padding: 6px 25px 6px 25px;
    border-bottom: 1px solid #ded8be; /* 4a6075 */
  }
}

#purveyor_of {
  margin-top:15px;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:80%;
  b {
    letter-spacing:0px;
    text-transform:none;
    font-size:180%;
    font-family:garamond,palatino;
    color:#2d2d25;
  }
}

.receipt_stamp {
  z-index:99;
  position:absolute;
  top: 25px;
  right: 25px;
  border: 2px solid #b6cec0;
  line-height:110%;
  font-size:100%;
  font-weight:normal;
  color:#b6cec0;
  padding:5px;
 }

.receipt_notes {
  padding: 25px 25px 0px 25px;
  text-align:left;
  font-size:90%;
  font-family:calibri;
  a:link, a:active, a:visited {
    color:#9a393a;
  }
  a:hover {
    background:transparent;
    text-decoration:underline;
  }
}

.receipt_pay {
  float:right;
  // border: solid 1px #aadbbd;
  // padding:1px;
  // margin:0px;
  // color:#7ebda0;
  // -moz-box-shadow:     0 0 2px #f8e8c7;
  // -webkit-box-shadow:  0 0 2px #f8e8c7;
  // box-shadow:          0 0 2px #f8e8c7;
}

// Easy alignment
.right {
  float: right;
}

.centered {
  float: center;
}

// Order cut-table (persistent)
.cut {
  width: 30%; /* 269px;*/
}
.prep {
  width: 10%; /* 83px;*/
}
.ps {
  width: 10%; /* 83px;*/
} 
.p_weight {
  width: 10%; /* 83px;*/
}
.price {
  width: 10%; /* 83px;*/
}
.lbs {
  width: 10%; /* 83px;*/
}
.price_lb {
  width: 10%; /* 83px;*/
}
.save {
  width: 10%; /* 83px;*/
}

#error_exp {
  color:#B94A48;
  font-family:calibri, verdana, 'trebuchet ms';
  font-size:100%;
  background-color:#fff;
}

.gray_botton {
  padding: 6px 6px;
  color:#333;
  font-family:calibri, verdana, 'trebuchet ms';
  font-size:100%;
  border: 1px solid #ddd;
  text-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color:#eee;
}