<h2>Work In Progress</h2>

<p>If you're a butcher, please just send a log (complete list of cuts and the users and labels they're associated with) to the email address in the message you received.</p>

<h4>Animal hanging weight here</h4>
<h4>Animal meat weight here</h4>

<%= render partial: "packages" %>

<h4>And then you'd allow addition of extra packages here.</h4>
