<div class="base_footerA">
</div>
<div class="base_footerB">

</div>
<div class="sky_footer">
	<div class="container">
  	 <div class="footer_social" style="float:left; text-align:left">
		<%= link_to image_tag('facebook.png') + "Facebook", 'http://www.facebook.com/meatups' %><br>
		<%= link_to image_tag('twitter.png') + "Twitter", 'http://www.twitter.com/MeatUp_' %><br>
		<%= link_to image_tag('email.png') + "Email", 'mailto:info@meatup.in' %><br>
	 </div>
  	 <div class="footer_links" style="float:right; text-align:right;">
		A <a href="broskle.in">Brothers Klein</a> Project<br>
		® 2012 MeatUp | All Rights Reserved<br>
		
	 </div>
	</div>
</div>