.base_footerA
.base_footerB
.sky_footer
  .container
    .footer_social{:style => "float:left; text-align:left"}
      = link_to image_tag('facebook.png') + "Facebook", 'http://www.facebook.com/meatups'
      %br/
      = link_to image_tag('twitter.png') + "Twitter", 'http://www.twitter.com/MeatUp_'
      %br/
      = link_to image_tag('email.png') + "Email", 'mailto:info@meatup.in'
      %br/
    .footer_links{:style => "float:right; text-align:right;"}
      A
      %a{:href => "#"} Brothers Klein
      Project
      %br/
      ® 2012 MeatUp | All Rights Reserved
      %br/
